.idea

/node_modules

/dist

!/My_CV
/My_CV/*
!/My_CV/css/
!/My_CV/fonts/
!/My_CV/icons/
!/My_CV/iconsfont/
!/My_CV/img/
!/My_CV/js/
!/My_CV/index.html

/src

/gulp

gulpfile.js

package-lock.json

package.json

.jshintrc

.eslintrc

.beautifyrc

.prettierrc.json

README_GULP.md